################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TestApplication/TestApplication/obj/Debug
/TestApplication/TestApplication.Tests/obj/Debug
